.nav_custom {
  padding-top: 2rem;
}
.footer {
  width: 100%;
  background-image: url("/png/fondos/fondo_footer.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 5rem;
}
.cont_logo {
  width: 3%;
  margin-left: auto;
  margin-right: auto;
}
.cont_texto {
  margin-top: 2rem;
  text-align: center;
  color: #fff;
}
.cont_texto a {
  color: #fff;
}
.logo {
  width: 256px;
}
.links {
  color: #fff !important;
  margin-right: 1rem;
}
.fondo_2 {
  background-image: url("/png/fondos/fondo_02.png");
  background-repeat: no-repeat;
  background-size: 50% 120%;
  background-position-x: right;
  background-position-y: 20%;
}
@media (max-width: 768px) {
  .logo {
    width: 200px;
  }
  .cont_logo {
    width: 5%;
  }
}
@media (max-width: 767px) {
  .nav_custom {
    padding: 1rem 0.3rem 0.5rem 0.3rem;
  }
  .links {
    margin-right: 0rem;
    font-size: 0.6rem;
  }
  .logo {
    width: 120px;
  }
}
