.card_custom {
  border-radius: 30px;
  border: 2px solid var(--verde);
  padding: 4rem 2rem;
}
.card_custom p {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.844rem;
  line-height: 1.93;
}
.fondo_card_gradiente {
  background-image: url("/png/fondo_card.png");
}
.texto_titulo {
  line-height: 1.21 !important;
}
.colorVerde {
  color: var(--verde);
}
.colorVerde span {
  color: #fff;
}
.colorBlanco {
  color: #fff;
}
.colorBlanco span {
  color: var(--verde);
}

.texto_titulo span {
  font-weight: 600;
}
.cont_imagen {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 50px;
}
.cont_imagen img {
  width: 35px;
  height: 35px;
}
