.boton {
  border-width: 1px;
  border-style: solid;
  padding: 0.6rem 1.5rem;
  font-size: 0.825rem;
  border-radius: 1.25rem;
}
.fuente {
  font-weight: 700;
}
.background_trasparent {
  background-color: transparent;
  border-color: var(--verde);
  color: #fff;
}

/* Parrafos */
.parrafo {
  color: #fff;
  margin-top: 2rem;
}
.parrafo span {
  color: var(--verde);
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.cont_izquierdo {
  width: 35%;
  margin-left: 0;
  margin-right: auto;
  padding-top: 3rem;
}
.cont_derecho {
  width: 30%;
  margin-left: auto;
  margin-right: -13rem;
}
.observando {
  margin-right: 7%;
  transition: all 3s ease;
}
.contendor_parrafo {
  margin-bottom: 8rem;
}
.imagen_parrafo {
  height: 340px;
}
/* Sections */
.cont_sections {
  margin-top: 5rem;
  width: 95%;
  margin-left: auto;
  margin-right: 0;
}
.cont_sections h5 {
  color: #fff;
  font-size: 2.25rem;
  margin-bottom: 2rem;
}
.cont_sections h5 span {
  color: var(--azul);
}

.textoBold {
  font-weight: 700;
}

.cont_1 {
  width: 50%;
}
.cont_1 p {
  width: 80%;
  margin-bottom: 2.5rem;
}
.cont_2 {
  width: 50%;
}

.lista {
  padding-left: 0.8rem;
}
.fondoMapa {
  background-image: url("/png/mapa.png");
  width: 43%;
  position: relative;
  margin-right: 7%;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
}
.fondoMapa p {
  position: absolute;
  font-size: 0.844rem;
  line-height: 1;
}
#status {
  top: 23%;
  right: 2%;
}
#escalotions {
  top: 46%;
  right: 11%;
}
#level {
  top: 67%;
  right: 8%;
}
.cards_4,
.cards_5,
.cards_3 {
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0rem !important;
}
.cards_4 {
  width: 23%;
}
.cards_4:first-of-type,
.cards_3:first-of-type,
.cards_5:first-of-type {
  margin-left: 0;
}
.cards_4:last-of-type,
.cards_3:last-of-type,
.cards_5:last-of-type {
  margin-right: 0;
}
.cards_3 {
  width: 23%;
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}
.cards_5 {
  width: 18%;
}
.fondo_card_clm {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px !important;
  border-color: var(--azul) !important;
}
.parrafo_custom {
  margin: 0rem auto !important;
  line-height: 1.31 !important;
}
.parrafo_custom2 {
  width: 75% !important;
  margin: 0rem auto !important;
  line-height: 1.31 !important;
}
.custom_padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.custom_imagen {
  display: flex;
  align-items: center;
}
.custom_imagen img {
  width: 60%;
  display: block;
  margin-right: -10rem;
  margin-left: auto;
}
.observando2 img {
  margin-right: 14%;
}
