.cambio h1,
.texto_fintech h3 {
  color: #fff;
  font-weight: 700;
  line-height: 1;
  font-size: 44px;
}
.cambio h1 span,
.texto_fintech h3 span {
  color: var(--azul);
}
.cambio p,
.texto_fintech p {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.cambio p span {
  font-weight: 700;
}
/* HeroClm */
.cont_texto {
  width: 32%;
  padding-top: 0rem;
}
.boton {
  background-color: var(--azul);
  border-color: var(--azul);
}
.boton:hover{
  background-color: transparent;
  color: var(--azul);
}
.cont_imagen {
  width: 35%;
  margin-right: 8%;
  margin-left: auto;
  margin-top: -7%;
}
.cont_imagen_movil{
  display: none;
}
/* Fintech */
.imagen_fintech {
  width: 33%;
  margin-left: 8%;
  height: auto;
  background-image: url("/png/fintech.png");
  background-repeat: no-repeat;
  background-size: 89%;
  display: block;
  position: relative;
}
.imagen_fintech div {
  color: #fff;
  position: absolute;
  font-weight: 700;
}
#Onboarding {
  top: 17%;
  left: 2%;
}
#Compliance {
  top: 68%;
  left: -9%;
}
#Monitoring {
  top: 102%;
  left: 45%;
}
.texto_fintech {
  width: 38%;
  margin-right: 5%;
  padding-top: 5rem;
  margin-left: auto;
}
/* RealTimeCLm */
.contenedor_real {
  margin-top: 17rem;
  margin-bottom: 8rem;
}
.contclm_izquierda {
  width: 35%;
}
.contclm_derecha {
  width: 50%;
  margin-left: auto;
  margin-right: 0;
}
.titulo_clm {
  font-size: 1.4rem;
}
.contclm_imagenes {
  width: 60%;
  margin-top: 2rem;
}
.real_imagenes {
  width: 50%;
  color: #fff;
}
.real_imagenes img {
  width: 30px;
  margin-right: 1rem;
}
.opacidad {
  opacity: 0 !important;
  transition: all ease 3s;
}
@media (max-width: 1500px) {
  .contclm_imagenes {
    width: 70%;
  }
  .imagen_fintech {
    background-size: 99%;
  }
  #Monitoring {
    top: 89%;
    left: 50%;
  }
  #Compliance {
    top: 59%;
    left: -9%;
  }
  #Onboarding {
    top: 14%;
    left: 2%;
  }
}
@media (max-width: 1280px) {
  .imagen_fintech {
    width: 42%;
  }
}
@media (max-width: 1024px) {
  .cont_texto {
    width: 41%;
    padding-top: 3rem;
  }
  .cambio h1,
  .texto_fintech h3 {
    font-size: 34px;
  }
  .cont_imagen {
    width: 36%;
  }
  .imagen_fintech {
    width: 45%;
  }
  .texto_fintech {
    padding-top: 4rem;
  }
  .contclm_izquierda {
    width: 44%;
  }
  .contclm_imagenes {
    width: 94%;
  }
  .contenedor_real{
    margin-top: 12rem;
  }
}

@media (max-width: 768px) {
  .cambio h1,
  .texto_fintech h3 {
    font-size: 29px;
  }
  .imagen_fintech {
    background-position-y: bottom;
  }
  .cont_texto {
    padding-top: 2rem;
    width: 47%;
  }
  .cont_imagen {
    display: none;
    
  }
  .cont_imagen_movil{
    width: 40%;
    margin-right: 4%;
    display: contents;
  }
  .cambio p {
    margin-bottom: 1.5rem;
  }
  .imagen_fintech {
    height: 330px;
  }
  #Onboarding {
    top: 32%;
    left: -6%;
  }
  #Compliance {
    left: -16%;
    top: 72%;
  }
  #Monitoring {
    left: 48%;
    top: 102%;
  }
  .texto_fintech {
    width: 42%;
    padding-top: 2rem;
    margin-right: 1%;
  }
  .real_imagenes img {
    width: 26px;
    margin-right: 0.5rem;
  }
  .contclm_imagenes {
    width: 105%;
  }
  .titulo_clm {
    font-size: 1.3rem;
  }
  .contclm_izquierda p {
    font-size: 0.9rem;
  }
  .contclm_izquierda h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .cont_texto {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .cont_imagen_movil img {
    width: 70%;
    margin: 2rem auto;
  }
  .imagen_fintech {
    width: 82%;
    height: 280px;
    margin-left: auto;
    margin-right: 1%;
    margin-bottom: 3rem;
  }
  .texto_fintech {
    width: 90%;
    margin-right: auto;
  }
  #Onboarding {
    left: -9%;
    top: 22%;
  }
  #Compliance {
    left: -18%;
    top: 70%;
  }

  .cambio h1,
  .texto_fintech h3 {
    font-size: 2rem;
  }
  .cambio p,
  .texto_fintech p {
    font-size: 0.7rem;
    margin-top: 1rem;
  }
  .contclm_izquierda {
    width: 100%;
    text-align: center;
  }
  .contclm_derecha {
    width: 100%;
    margin-top: 2rem;
  }
  .titulo_clm {
    text-align: center;
  }
  .real_imagenes {
    width: 100%;
    text-align: center;
  }
  .contenedor_real {
    width: 90%;
    margin-bottom: 2rem;
  }
}
