.cambio h1,
.texto_fintech h3 {
  color: #fff;
  font-weight: 700;
  line-height: 1;
  font-size: 44px;
}
.cambio h1 span,
.texto_fintech h3 span {
  color: var(--azul);
}
.cambio p,
.texto_fintech p {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.cambio p span {
  font-weight: 700;
}
/* HeroClm */
.cont_texto {
  width: 32%;
  padding-top: 7rem;
}
.boton {
  background-color: var(--azul);
}
.cont_imagen {
  width: 30%;
  margin-right: 8%;
  margin-left: auto;
}
/* Fintech */
.imagen_fintech {
  width: 35%;
  margin-left: 5%;
  height: 420px;
  background-image: url("/png/fintech.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  position: relative;
}
.imagen_fintech div {
  color: #fff;
  position: absolute;
  font-weight: 700;
}
#Onboarding {
  top: 17%;
  left: 2%;
}
#Compliance {
  top: 68%;
  left: -9%;
}
#Monitoring {
  top: 102%;
  left: 51%;
}
.texto_fintech {
  width: 38%;
  margin-right: 5%;
  padding-top: 5rem;
  margin-left: auto;
}
/* RealTimeCLm */
.contenedor_real {
  margin-top: 9rem;
  margin-bottom: 8rem;
}
.contclm_izquierda {
  width: 35%;
}
.contclm_derecha {
  width: 50%;
  margin-left: auto;
  margin-right: 0;
}
.titulo_clm {
  font-size: 1.4rem;
}
.contclm_imagenes {
  width: 60%;
  margin-top: 2rem;
}
.real_imagenes {
  width: 50%;
  color: #fff;
}
.real_imagenes img {
  width: 30px;
  margin-right: 1rem;
}
@media (max-width: 1500px) {
  .contclm_imagenes {
    width: 70%;
  }
}
@media (max-width: 1024px) {
  .cont_texto {
    width: 41%;
    padding-top: 3rem;
  }
  .cambio h1,
  .texto_fintech h3 {
    font-size: 34px;
  }
  .cont_imagen {
    width: 36%;
  }
  .imagen_fintech {
    width: 48%;
  }
  .texto_fintech {
    padding-top: 4rem;
  }
  .contclm_izquierda {
    width: 44%;
  }
  .contclm_imagenes {
    width: 94%;
  }
}

@media (max-width: 768px) {
  .cambio h1,
  .texto_fintech h3 {
    font-size: 29px;
  }
  .cont_texto {
    padding-top: 2rem;
    width: 47%;
  }
  .cont_imagen {
    width: 40%;
    margin-right: 4%;
  }
  .cambio p {
    margin-bottom: 1.5rem;
  }
  .imagen_fintech {
    height: 330px;
  }
  #Onboarding {
    top: 16%;
    left: -6%;
  }
  #Compliance {
    left: -14%;
  }
  #Monitoring {
    left: 48%;
  }
  .texto_fintech {
    width: 42%;
    padding-top: 2rem;
    margin-right: 1%;
  }
  .real_imagenes img {
    width: 26px;
    margin-right: 0.5rem;
  }
  .contclm_imagenes {
    width: 105%;
  }
  .titulo_clm {
    font-size: 1.3rem;
  }
  .contclm_izquierda p {
    font-size: 0.9rem;
  }
  .contclm_izquierda h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .cambio h1,
  .texto_fintech h3 {
    font-size: 1rem;
  }
  .cambio p,
  .texto_fintech p {
    font-size: 0.7rem;
    margin-top: 1rem;
  }
  .contclm_izquierda {
    width: 100%;
    text-align: center;
  }
  .contclm_derecha {
    width: 100%;
    margin-top: 2rem;
  }
  .titulo_clm {
    text-align: center;
  }
}
