.contenedor_index_hero {
  margin-top: 4rem;
  margin-bottom: 10rem;
}
.contenedor_index_hero h1 {
  text-align: center;
  line-height: 1.12;
  margin-bottom: 2rem;
  font-size: 2.75rem;
}
.contenedor_index_hero p {
  width: 43%;
  font-size: 1.75rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.31;
  text-align: center;
}

.fondo_card {
  /*  background-image: url("/png/fondo_card.png");
  background-repeat: no-repeat;

  background-size: 100% 100%; */
  background-color: #375056;
}
.contenedor_cards_index {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 9rem;
}
.card_3 {
  width: 26%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem !important;
  border-color: var(--azul2) !important;
  position: relative;
}
.card_4 {
  width: 22%;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem 1.8rem !important;
  border-color: var(--azul2) !important;
}
.card_4 p {
  line-height: 1.67;
}
.parrafo_cards_index {
  color: var(--azul2) !important;
  font-weight: 700;
  margin-bottom: 0rem;
}
.parrafo_cards_index span {
  color: #fff;
}
.texto_truested_index {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 5rem;
}
.texto_truested_index h2 {
  font-size: 2.5rem;
}
.cont_img_truested {
  margin-top: 5rem;
}

.cont_img_truested div {
  flex: 0 0 20%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
}
.cont_img_truested img {
  object-fit: contain;
}

.cont_engines_index {
  margin-top: 2rem;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
}
.texto_engines_index {
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.texto_engines_index:last-of-type {
  margin-top: 9rem;
}
.texto_engines_index > div {
  margin-left: auto;
  margin-right: auto;
}
.cont_engines_index h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.texto_engines_index h4 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 2rem;
}
.cont_engines_index h4 span {
  color: var(--azul2);
}
.cont_engines_index p {
  color: #fff;
}
.cont_engines_index p span {
  color: var(--azul2);
}
.parrafos_engines_index {
  font-weight: 500;
}
.parrafos_engines_index p {
  color: var(--azul2);
  display: inline-block;
  width: fit-content;
  flex: 0 0 50%;
  margin-bottom: 0.5rem;
}
.engines_img1 {
  width: 80%;
  margin-left: 5%;
}
.engines_img2 {
  width: 100%;
}

.cont_engines_1 {
  flex: 0 0 45%;
}
.cont_engines_1 h4 {
  margin-top: 4rem;
}
.cont_engines_2 {
  flex: 0 0 45%;
}
.cont_engines_2:last-of-type {
  padding-left: 5%;
}
/* CardsINdex */
.cont_card_index > h3 {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
}
.cont_card_index > h3 span {
  color: var(--azul2);
}
.cards_index {
  margin-top: 4rem;
  margin-bottom: 10rem;
}
.titulo_cards_index {
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
  color: var(--azul2);
  margin-bottom: 3rem;
}
.titulo_cards_index span {
  color: #fff;
}
.titulo2_cards_index {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}
.cont_contac {
  margin-bottom: 5rem;
}
.cont_contac h4 {
  text-align: center;
  font-size: 2rem;
}
.cont_contac_fielset {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.cont_contac_fielset input {
  width: 47%;
  height: 2.8rem;
}
.cont_contac_fielset textarea {
  width: 100%;
  height: 200px;
  margin: 2rem auto;
}
.cont_contac_fielset input,
.cont_contac_fielset textarea {
  border-color: var(--azul2);
  background-color: #375056;
  border-radius: 15px;
  background-size: 100% 100%;
  padding-left: 0.5rem;
}
.cont_contac_fielset input::placeholder,
.cont_contac_fielset textarea::placeholder {
  color: #fff;
}

.cont_contac_fielset input:first-of-type {
  margin-right: auto;
}
.cont_contac_fielset input:last-of-type {
  margin-left: auto;
}
.boton_contact {
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  border-radius: 20px;
  border-color: var(--azul2);
  margin-right: 3%;
  margin-left: auto;
  width: 10%;
  padding: 0.5rem;
  font-size: 0.844rem;
}
@media (max-width: 1024px) {
  .card_4 {
    width: 40%;
  }
  .cont_engines_index {
    width: 80%;
  }
  .card_4:nth-child(1),
  .card_4:nth-child(2) {
    margin-bottom: 4rem;
  }
  .cards_index {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .contenedor_cards_index {
    width: 90%;
  }
  .texto_truested_index {
    width: 70%;
  }
  .cont_engines_index {
    width: 95%;
  }
  .card_4 {
    width: 60%;
    margin-bottom: 3rem;
  }
  .card_4:last-of-type {
    margin-bottom: 0rem;
  }

}
