.cont_izquierda {
  width: 40%;
}
.texto_centro {
  text-align: center;
}
.fondo {
  background-image: url("/png/hero_index.png");
  background-size: 73% 90%;
  background-position: top right;
  background-repeat: no-repeat;
  margin-top: 3rem;
  height: 600px;
}
.cont_izquierda h1 {
  margin-top: 3rem;
  font-size: 2.75rem;
}
.cont_izquierda p {
  margin-top: 2rem;
  margin-bottom: 4rem;
  color: #fff;
  line-height: 1.71;
}
.boton {
  background-color: var(--verde);
}
/* index analytics */
.titulo_analytics {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.contenedor_analytics {
  margin-top: 6rem;
  margin-bottom: 4rem;
}
.contenedor_analytics > p {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 4rem;
  line-height: 1.72;
}
.funete_cards {
  font-size: 1.125rem;
}
.card_3 {
  width: 30%;
}
.contenedor_analytics_cards {
  width: 75%;

  justify-content: space-between;
}
.fondo_card {
  background-image: url("/png/fondo_card.png");
  background-repeat: no-repeat;
  background-origin: center center;
  background-size: 100% 100%;
}
/* engine */
.contenedor_engine {
  margin-top: 9rem;
  margin-bottom: 3rem;
}
.contendor_lista {
  justify-content: center;
  font-weight: 700;
  margin-top: 4rem;
}
.contendor_lista img {
  padding-top: 0.3rem;
}
.cont_imagen {
  width: 60%;
}
.contendor_lista li {
  color: #fff;
  list-style: none;
  margin-bottom: 3.9rem;
}
.lista1,
.lista2 {
  width: 20%;
}

.lista1 li {
  text-align: right;
  padding-right: 2rem;
}
/* Services */
.contenedor_services {
  width: 90%;
  margin-left: auto;
  margin-right: 0;
}
.titulo_sevicios {
  font-size: 2.25rem;
}
@media (max-width: 1500px) {
  .fondo {
    background-size: 70% 100%;
  }
  .cont_izquierda {
    width: 48%;
  }
  .contendor_lista li {
    margin-bottom: 3.12rem;
  }
}
@media (max-width: 1400px) {
  .contendor_lista li {
    margin-bottom: 2.48rem;
  }
  .cont_imagen {
    width: 54%;
  }
  .lista1,
  .lista2 {
    width: 23%;
  }
}
@media (max-width: 1300px) {
  .cont_izquierda {
    width: 51%;
  }
  .contenedor_analytics_cards {
    width: 86%;
  }

  .contendor_lista li {
    margin-bottom: 2.17rem;
  }
}
@media (max-width: 1024px) {
  .cont_izquierda h1 {
    font-size: 2rem;
    margin-top: 2.5rem;
  }
  .fondo {
    background-size: 67% 98%;
    height: 500px;
  }
}
@media (max-width: 768px) {
  .cont_izquierda {
    width: 64%;
  }
  .cont_izquierda h1 {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .fondo {
    height: 400px;
    background-size: 67% 100%;
  }
  .cont_izquierda p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 83%;
  }
}
@media (max-width: 767px) {
  .fondo {
    height: auto;
    background-size: 70%;
    height: 300px;
    background-position-y: bottom;
  }
  .cont_izquierda {
    width: 100%;
  }
  .cont_izquierda h1 {
  }
  .cont_izquierda p {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
}
