@import "~bootstrap/dist/css/bootstrap.min.css";
:root {
  --verde: #6cbd4b;
}
.fondo_pagina {
  background-color: #0b262d;
  overflow: hidden;
}
* {
  font-family: "Red Hat Text", sans-serif;
}
img {
  max-width: 100%;
  width: 100%;
}

.md-container {
  max-width: 800px;
  padding-top: 2rem;
}

.sml-card {
  width: 22rem;
  margin: 1rem 0;
}

.cntr-footer {
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.sml-logo {
  height: 1em;
  margin-left: 10px;
}
.contenedor {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.titulo {
  font-weight: 700;
}
.colorBlanco {
  color: #fff;
}
.colorVerde {
  color: var(--verde);
}
.flex_box {
  display: flex;
  flex-wrap: wrap;
}
.titulo_tamano {
  font-size: 2.5rem;
}
