@import "~bootstrap/dist/css/bootstrap.min.css";
:root {
  --verde: #6cbd4b;
  --azul: #3feea5;
  --azul2: #00e7de;
}
body{
  overflow-x: hidden;
  width: auto;
}
* {
  font-family: "Red Hat Text", sans-serif;
}
img {
  max-width: 100%;
  width: 100%;
}

.sml-logo {
  height: 1em;
  margin-left: 10px;
}
.contenedor {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.titulo {
  font-weight: 700;
}
.colorBlanco {
  color: #fff;
}
.colorVerde {
  color: var(--verde);
}
.colorAzul {
  color: var(--azul);
}
.colorAzul2 {
  color: var(--azul2);
}
.flex_box {
  display: flex;
  flex-wrap: wrap;
}
.titulo_tamano {
  font-size: 2.5rem;
}
/* imagen Fixed */

.prueba {
  display: block;
  height: 10px;
}
.prueba1{
  height: 500px;
}
.pruebanew{
  position: relative;
  height: 20px;
  top: 19vh;
}
.section {
  background: blue;
  margin-bottom: 5rem;
  width: 100%;
  height: 420px;
}
.margen_custom {
  margin-bottom: 13rem !important;
}
.margen_custom2 {
  margin-bottom: 10rem !important;
}
.fintech{
  margin-top: 20vh;
  margin-bottom: 30vh;
}
.suite{
  margin-top: 20vh;
  margin-bottom: 10vh;
}
@media (max-height:920px) {
  .prueba1{
    height: 200px;
  } 
.fintech{
  margin-top: 15vh;
  margin-bottom: 25vh;
}
.suite{
  margin-top: 25vh;
  margin-bottom: 33vh;
}
}
@media (max-width: 1024px) {
}
@media (max-width: 767px) {
  .contenedor {
    width: 98%;
  }
  .titulo_tamano {
    font-size: 1.5rem;
  }
  .margin_section {
    margin-top: 3rem;
  }
  .prueba {
    display: none;
  }
}
