.cont_izquierda {
  width: 40%;
}
.texto_centro {
  text-align: center;
}
.fondo {
  background-image: url("/png/hero_index.png");
  background-size: 73% 90%;
  background-position: top right;
  background-repeat: no-repeat;
  margin-top: 3rem;
  height: 600px;
  max-width: 1440px;
}
.cont_izquierda h1 {
  margin-top: 3rem;
  font-size: 2.75rem;
}
.cont_izquierda p {
  margin-top: 2rem;
  margin-bottom: 4rem;
  color: #fff;
  line-height: 1.71;
  width: 75%;
}
.boton {
  background-color: var(--verde);
  border-color:  var(--verde);

}
.boton:hover{
  background-color: transparent;
  color: var(--verde);
  border-color:  var(--verde);
}
/* index analytics */
.titulo_analytics {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.contenedor_analytics {
  margin-top: 6rem;
  margin-bottom: 4rem;
}
.contenedor_analytics > p {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 4rem;
  line-height: 1.72;
}
.funete_cards {
  font-size: 1.125rem;
}
.card_3 {
  width: 30%;
}
.contenedor_analytics_cards {
  width: 75%;

  justify-content: space-between;
}
.contenedor_analytics_cards .not_active{
  
  background-color: rgba(255,255, 255, 0) !important;
}
.fondo_card {
  background-image: url("/png/fondo_card.png");
  background-repeat: no-repeat;

  background-size: 100% 100%;
}
/* engine */
.contenedor_engine {
  margin-top: 9rem;
  margin-bottom: 12rem;
}
.contendor_lista {
  justify-content: center;
  font-weight: 700;
  margin-top: 4rem;
}
.contendor_lista img {
  padding-top: 0.3rem;
}
.cont_imagen {
  width: 60%;
}
.contendor_lista li {
  color: #fff;
  list-style: none;
  margin-bottom: 3.9rem;
}
.lista1,
.lista2 {
  width: 20%;
}

.lista1 li {
  text-align: right;
  padding-right: 2rem;
}
/* Services */
.contenedor_services {
  width: 90%;
  margin-left: auto;
  margin-right: 0;
}
.titulo_sevicios {
  font-size: 2.25rem;
}
@media (max-width: 1500px) {
  .fondo {
    background-size: 70% 100%;
  }
  .cont_izquierda {
    width: 48%;
  }
  .contendor_lista li {
    margin-bottom: 3.12rem;
  }
}
@media (max-width: 1400px) {
  .contendor_lista li {
    margin-bottom: 2.48rem;
  }
  .cont_imagen {
    width: 54%;
  }
  .lista1,
  .lista2 {
    width: 23%;
  }
}
@media (max-width: 1300px) {
  .cont_izquierda {
    width: 51%;
  }
  .contenedor_analytics_cards {
    width: 86%;
  }

  .contendor_lista li {
    margin-bottom: 2.17rem;
  }
}
@media (max-width: 1024px) {
  .cont_izquierda h1 {
    font-size: 2.35rem;
    margin-top: 2.5rem;
  }
  .cont_izquierda {
    width: 54%;
  }
  .cont_izquierda p {
    margin-bottom: 3rem;
  }
  .fondo {
    background-size: 67% 98%;
    height: 500px;
  }
  .titulo_analytics {
    font-size: 2rem;
    margin-bottom: 1.3rem;
  }
  .contenedor_analytics > p {
    width: 59%;
  }
  .contenedor_analytics_cards {
    width: 93%;
  }
}
@media (max-width: 768px) {
  .cont_izquierda h1 {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .cont_izquierda {
    width: 64%;
  }
  .fondo {
    height: 400px;
    background-size: 67% 100%;
  }
  .cont_izquierda p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 83%;
  }
  .contenedor_analytics > p {
    width: 85%;
  }
  .contenedor_analytics_cards {
    width: 100%;
  }
  .card_3 {
    width: 32%;
  }
  .funete_cards {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .fondo {
    height: auto;
    background-size: 92% 250px;
    height: 495px;
    margin-top: 2rem;
    background-position: top center;
  }
  .cont_izquierda h1 {
    font-size: 1.7rem;
  }
  .cont_izquierda {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 33vh;
  }
  .card_3 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  .cont_izquierda p {
    width: 96%;
    font-size: 0.8rem;
    margin-bottom: 2rem;
  }
  .titulo_analytics {
    font-size: 1.5rem;
  }
  .contenedor_analytics > p {
    font-size: 0.7rem;
  }
  .contenedor_engine {
    margin-top: 5rem;
    margin-bottom: 1rem;
  }
  .contenedor_engine > p {
    font-size: 0.7rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .cont_imagen {
    width: 60%;
  }
  .contendor_lista {
    height: 150px;
  }
  .lista1 {
    width: 15%;
  }
  .lista2 {
    width: 25%;
  }
  .lista1 ul,
  .lista2 ul {
    padding: 0;
    margin-top: 1px;
    padding-top: .1rem;
 
  }
  .lista1 li,
  .lista2 li {
    font-size: 0.35rem;
    padding: 0;
    margin-bottom: 0.82rem;
  }
  .lista1 li:nth-child(4),
  .lista2 li:nth-child(4) {
    padding-top: 2px; 
  }
  .lista1 li:nth-child(5),
  .lista2 li:nth-child(5) {
    padding-top: 3px; 
  }
  .lista1 li {
    padding-right: 0.2rem;
  }
  .lista2 li {
    padding-left: 0.2rem;
  }
  .contenedor_services {
    width: 98%;
  }
  .titulo_sevicios {
    font-size: 1.5rem;
  }
}
